
# filename: requirements.txt
# Author: Nyimbi Odero
# Copyright: Nyimbi Odero, 2024
# License: MIT
# File Description: Project dependencies and version requirements.

SQLAlchemy>=1.4.0
Jinja2>=3.0.0
PyYAML>=5.4.0
inflect>=5.3.0
pytest>=6.0.0
black>=21.0.0
mypy>=0.900
pylint>=2.8.0
isort
geoalchemy2
black
shapely
