{% extends "appbuilder/base.html" %}

{% block content %}
<div class="container">
    <h2>Leaderboard</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entry.user.username }}</td>
                <td>{{ entry.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

