i{% extends "appbuilder/base.html" %}
{% block content %}
{% if show_title %}
<h2>{{ title }}</h2>
{% endif %}
{% if show_menu %}
<div class="btn-group" role="group">
    <a href="{{ url_for('.change_layout') }}" class="btn btn-default">Change Layout</a>
    <a href="{{ url_for('.custom_view') }}" class="btn btn-default">Custom View</a>
</div>
{% endif %}
{% if search_enabled %}
<div class="row">
    <div class="col-md-4">
        <input type="text" id="search" class="form-control" placeholder="Search...">
    </div>
</div>
{% endif %}
<div class="list-group">
    {% for view in views %}
    <div class="list-group-item">
        <h4 class="list-group-item-heading">{{ view.title }}</h4>
        <div class="list-group-item-text">
            {{ view.render_template('list.html') | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script>
$(document).ready(function() {
    {% if search_enabled %}
    $('#search').on('keyup', function() {
        var value = $(this).val().toLowerCase();
        $('.list-group-item-text table tbody tr').filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    {% endif %}
});
</script>
{% endblock %}

