{% extends "appbuilder/base.html" %}
{% block content %}
{% if show_title %}
<h2>{{ title }}</h2>
{% endif %}
{% if show_menu %}
<div class="btn-group" role="group">
    <a href="{{ url_for('.change_layout') }}" class="btn btn-default">Change Layout</a>
    <a href="{{ url_for('.custom_view') }}" class="btn btn-default">Custom View</a>
</div>
{% endif %}
{% if search_enabled %}
<div class="row">
    <div class="col-md-4">
        <input type="text" id="search" class="form-control" placeholder="Search...">
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            {% for view in views %}
            <li {% if loop.first %}class="active"{% endif %}>
                <a href="#view{{ loop.index }}" data-toggle="pill">{{ view.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            {% for view in views %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="view{{ loop.index }}">
                {{ view.render_template('list.html') | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script>
$(document).ready(function() {
    {% if search_enabled %}
    $('#search').on('keyup', function() {
        var value = $(this).val().toLowerCase();
        $('.tab-content table tbody tr').filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    {% endif %}
});
</script>
{% endblock %}

