{% extends "wizard_base.html" %}
{% block wizard_title %}Step 2: Company Information{% endblock %}
{% block wizard_content %}
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.industry.label }}
        {{ form.industry(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.company_size.label }}
        {{ form.company_size(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}